<div class="main-container container-fluid">
    <section class="d-flex justify-content-between container">
        <div>
            <img src="../../../assets/img/healthy_habit.svg" height="380" alt="">
        </div>
        <div  style="width: 18rem;">
            <img src="../../../assets/img/personal_trainer.svg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Seja um Olimpo</h5>
                <p class="card-text">Venha fazer parte do Olimpo e se sinta como um deus grego, treinos personalizados,
                    planos diferenciados e muitos mais.</p>
                <a [routerLink]="['']" class="btn btn-warning">Matricular-se</a>
            </div>
        </div>
    </section>
</div>
<olp-gymplan class="container mt-3" ></olp-gymplan>
