<div class="main-container ">
    <section class="d-flex justify-content-center vertical-center">
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ffc107" type = "square-loader" [fullScreen] = "false"><p style="color: white" >Carregando...</p></ngx-spinner>
        <div class="login py-5">
            <img class="img-login" src="../../../assets/img/login_v3.svg" alt="imagem de login">
            <form [formGroup]="loginForm" class="form-login mt-2">
                <div class="pr-5 pl-5 row g-3 align-items-center">
                    <div class="col-2 col-md-2">
                        <label for="email" class="col-form-label">E-mail</label>
                    </div>
                    <div class="col-10 col-md-10">
                        <input type="email" id="email" class="form-control" formControlName="email" >
                        <span class="text-danger" *ngIf="isValidField('email')">
                            * E-mail é obrigatório 
                        </span>
                    </div>
                    <div class="col-2">
                        <label for="Senha" class="col-form-label">Senha</label>
                    </div>
                    <div class="col-10">
                        <input type="password" id="Senha" class="form-control" formControlName="senha">
                        <span class="text-danger" *ngIf="isValidField('senha')">
                            * Senha é obrigatória 
                        </span>
                    </div>
                    
                </div>
                <div class="d-flex justify-content-around mt-2">
                    <div><button [disabled]="loginForm.invalid"  (click)="authCustomer()" class="btn btn-warning">Sou Aluno</button></div>
                    <div><button [disabled]="loginForm.invalid"  (click)="authEmployee()" class="btn btn-secondary">Sou Colaborador</button></div>
                </div>
                
                <div class="mt-2 d-flex justify-content-center">
                    <button [routerLink]="['/reset-senha']" class="btn btn-esqueci-senha">Esqueci minha Senha</button>
                </div>
            </form>
        </div>
    </section>
</div>