.customer{
    margin-top: 2%;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding:  1%;
    max-width: 50%;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    width: 50rem;
}


.img-login{
    width:40vh; 
    height:10vh;
}

.btn-matricular{
    background-color: rgb(89, 41, 221);
}

.vertical-center{
    margin-top: 6vh;
}
   
